.filter-container{
  float: left;
  margin-bottom: 33px;
}

.show-more {
  cursor: pointer;
  width: 200px;
  margin-top: 3px;
  display: inline-block;
  p{
    margin-left: 10px;
    @include font-content-small($font-color-menu-link);
    span {
      color: $font-color-filter-head;
      float: right;
    }
  }
}
