.filter-rating-option {
  display: block;
  width:200px;
  font-family: $font-content;
  font-size: $font-small;
  color: $color-font-filter-item;
  line-height: 22px;
  cursor: pointer;
}

.filter-rating-label{
  font-family: $font-content;
  font-size: $font-small;
  color: $color-font-filter-item;
}

.filter-rating-item{
  display: inline-block;
  width:150px;
  float: left;
}
.filter-rating-item label{
    position:relative;
    overflow:hidden;
    margin-right:12px;
    cursor:pointer;
  }

.filter-rating-item label input[type="radio"]{
    position: absolute;
    left:-9001px;
  }

.filter-rating-item .circ{
    width:10px;
    height:10px;
    border-radius: 12px;
    display:inline-block;
    border:1px solid $color-font-filter-header;
    top:1px;
    position:relative;
    margin-right:10px;
  }

.filter-rating-item .circ .dot{
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    border-radius: 2em;
    left: 2px;
    top: 2px;

  }

.filter-rating-item label input[type="radio"]:checked ~ .circ .dot{
    background-color:$border-color-2;
  }

.filter-rating-item label input[type="radio"]:checked ~ .circ{
  border: 1px solid $primary-color-1;
}

.gold-star{
  font-size: 20px;
  color:$stars-color-active;
}
.grey-star{
  font-size: 20px;
  color:$stars-color;
}
