.top-user-nav{
  float: right;
  height:60px;
  margin-right:26px;
  ul {
    margin: 18px 0 0 7px;
    list-style: none;
    li{
      @include font-menu-medium($font-color-menu);
      float: left;
      padding: 0 13px 0 13px;
      border-left : 1px solid $border-color-1;

      a {
        display: block;
        margin: 5px 0 0 0 ;
        color: $font-color-menu;
        &:hover{  color: $font-color-menu-link;  }
      }
    }
    .user-account{
      @include linx($font-color-menu-link, $font-color-menu-link, $font-color-menu-link, $font-color-menu-link);
      a:before {  @extend .user-icon;  }
    }
    .user-cart{
      @include linx($font-color-menu-link, $font-color-menu-link, $font-color-menu-link, $font-color-menu-link);
      a{
        &:before{  @extend .cart-icon;  }
        &:after{  @extend .arrow-icon;  }
      }
      border-right : 1px solid $border-color-1;
    }
    .user-lang{
      a:after{  @extend .arrow-icon;  }
    }
    .user-search{
      a:after{  @extend .search-icon;  }
    }
  }
}

.top-main-nav{
  width: $width-size-lg;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  ul {
    display: inline-block;
    li {
      @include font-menu-medium($font-color-menu);
      float: left;
      padding: 0 21px 0 21px;
      text-transform: uppercase;
      list-style: none;
      a {
        padding: 10px 0 10px 0;
        display: block;
        height: calc(40px - 20px);
        @include transition-property(color);
        @include transition-duration(500ms);
      }
      @include linx($font-color-menu, $font-color-menu, $font-color-menu-link, $font-color-menu-link);
    }
    .active{
      font-weight: bold;
      @include linx($font-color-menu-link, $font-color-menu-link, $font-color-menu-link, $font-color-menu-link);
    }
  }
}

