.product-list-container{
  width: $width-size-lg;
  overflow: hidden;
  margin: 0 auto;
  .filters-container{
    float: left;
    width: 200px;
    min-height: 100%;
    margin-left: 7px;
    margin-right: 25px;
    .main-list-header{
      font-family: $font-content;
      font-size: $font-large;
      color: #010101;
      margin: -2px 0 35px 0;
    }
  }
  .products-list-container{
    float: right;
    width: 946px;
    padding-left: 20px;
    border-left: 1px solid $border-color-1;
  }
}

.products-list-header{
  width: 100%;
  margin: 0;
  margin-left:35px;
  margin-bottom: 14px;
}

.filter-cancel-icon{
  padding-left:10px;
}



