.search-result-info{
  display: inline-block;
  width:100%;
  height: auto;
  .label
  {
    float: left;
    text-align: left;
    width: auto;
    margin: 4px 7px 12px 0;
    font-family: $font-content;
    font-size: $font-small;
    color: $font-color-menu;
  }
  .selected-filters{
    float: left;
    width: auto;
    margin: 0 4px 6px 0;
    padding: 2px 8px 2px 8px;
    box-shadow: inset 0 0 0 1px $border-color-1;
    .selected{
      font-family: $font-content;
      font-size: $font-small;
      color: $font-color-filter-head;
      padding-right:12px;
    }
  }
  .icon-selected-filter-reset{
    text-align: right;
    float: right;
    color:$font-color-filter-head;
    font-size: 8px;
    line-height: 19px;
    cursor: pointer;
  }
}

