$width-size-lg: 1200px;

$font-color-menu: #686666;
$font-color-menu-link: #56c47c;
$font-color-filter-head: #9b9b9b;
$font-color-filter-item: #383838;



$border-color-1: #eeeeee;
$border-color-2: #56c47c;
$border-checkbox-color: #c9c9c9;

$icon-color-orientation: #c9c9c9;
$icon-color-fav-active: #e53935;
$icon-color-fav: #dadada;
$icon-color-social: #676767;
$icon-color-add: #2b2e2f;
$icon-color-stars-gold: #fdd201;
$icon-color-stars-grey: #dadada;
$icon-arrow-color: #686666;
$item-color: #dadada;
