$primary-color-1: #56c47c;
$primary-color-2: #686666;

$font-header-color: #010101;
$color-font-filter-header: #9b9b9b;
$color-font-filter-item: #383838;

$border-color-1: #eeeeee;
$border-color-2: #56c47c;

$fav-color-active: #e53935;
$fav-color: #dadada;

$stars-color-active: #fdd201;
$stars-color: #dadada;
