.page{
  min-height: 640px;
  min-width: 320px;
}
header {
  margin-bottom:40px;
}
.logo-bar{
  height: 60px;
  margin: 0 auto;
  width: $width-size-lg;
}

.header-logo {
  width: 15%;
  height: 60px;
  float: left;
  h1 {
    margin: 17px 0 0 7px;
  }
}

.top-bar {
  width: 85%;
  height: 60px;
  float: left;
}

.nav-bar{
  height: 38px;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid $border-color-1;
  border-top: 1px solid $border-color-1;
}

.columns-container{
  width:100%;
  min-height: 640px;
  overflow: hidden;
}

