@mixin respond-to($class) {
	@if $class == xs {
		@media (max-width: 767px) { @content; }
	}

	@else if $class == sm {
		@media (min-width: 768px) { @content; }
	}

	@else if $class == md {
		@media (min-width: 1000px) { @content; }
	}

	@else if $class == lg {
		@media (min-width: 1200px) { @content; }
	}

	@else {
		@warn "respond-to mixin supports: xs, sm, md, lg";
	}
}

@mixin linx($link, $visit, $hover, $active) {
	a {
		color: $link;
		&:link {
			color: $link;
		}
		&:visited {
			color: $visit;
		}
		&:hover {
			color: $hover;
		}
		&:active {
			color: $active;
		}
	}
}

@mixin animation($value) {
	-webkit-animation: $value;
	-moz-animation: $value;
	-ms-animation: $value;
	-o-animation: $value;
	animation: $value;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content
	}
	@-moz-keyframes #{$name} {
		@content
	}
	@-ms-keyframes #{$name} {
		@content
	}
	@-o-keyframes #{$name} {
		@content
	}
	@keyframes #{$name} {
		@content
	}
}
